.Preface {
  height: 600px;
  position: relative;

  &__preface-title{
    font-size: 13px;
    line-height: 40px;

    &_aligned-left-top {
      position: absolute;
      top: 40px;
      left: 80px;
    }
  }

  &__preface-content {
    width: 500px;
    font-size: 14px;

    &_aligned-left-bottom {
      position: absolute;
      bottom: 40px;
      left: 80px;
    }
  }

  &_aligned-right-top{
    position: absolute;
    top: 40px;
    right: 80px;
  }
}