.RadarChart {
  position: absolute;
  bottom: 80px;

  &__text {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
  }
  &__line-radial {
    stroke: #828282;
    fill: none;
    stroke-width: 0.9;
    stroke-opacity: 0.8;
    stroke-linecap: round;
  }
  &__polygon {
    fill-opacity: 0.3;
    stroke-width: 2;
  }
  &__circle {
    fill-opacity: 0.8;
  }
}
