html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pt Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  cursor: pointer;
  text-decoration: underline #d2d2d2;
  color: rgba(0,0,0,0.8);
  background-color: rgba(181, 191, 255, 0.2);
}
a:hover {
  text-decoration: underline #005cd3;
  color: #005cd3;
}

p {
  color: rgba(0,0,0,0.65);
}