.Tabs {
  &__tab {
    margin-left: 5px;
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
    &_active {
      border-bottom: 4px solid white;
    }
  }
}
