@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i&subset=cyrillic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css");
@import "../../styles/variables";

.Article {
  padding: 0 10%;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0.75rem auto;
    &_small {
      max-width: 50%;
    }
    &_inline {
      display: inline-block;
    }
  }

  &__chapter {
    font-family: "Roboto", sans-serif;
    margin: 40px 0;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 300;
    color: #292929;
  }

  &__header {
    font-family: "Roboto", sans-serif;
    font-size: 2.65rem;
    font-weight: 700;
    margin: 50px 0;
    color: #2e2e2e;
  }
  &__paragraph {
    font-family: "Roboto", sans-serif;
    margin: 40px 0;
    font-weight: 400;
    color: #292929;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.4rem;

    &_first::first-letter {
      font-weight: 500;
      font-size: 1.8rem;
      color: var(--blue);
    }

    &_highlighted {
      font-weight: 700;
      font-style: italic;
      background-color: #e6e6e6;
    }
  }
}
