@import "./variables";
@import "./Article";


.App {
  display: flex;
  //padding: 2rem;

  &__article-block {
    flex: 1 1 45%;
    color: #0d0d0c;

  }

  &__graph-block {
    flex: 1 1 55%;
    background: #e6e6e6;
  }
}


