.TransportTypeSwitcher {
  background: rgba(255, 255, 255, 0.61);
  position: absolute;
  width: 90%;
  padding: 0 1% 0 9%;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: baseline;
  
  &__transportTypes {
    margin-left: auto;
    width: fit-content;
  }
  &__city {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
    margin-right: auto;
  }
}
