.Contents {
  display: inline-block;

  &_aligned-right-top {
    min-width: 250px;
    margin: auto;
  }

  &_hide-right {
    background-color: white;
    padding: 20px;
    margin-left: 55px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -1px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__chapter,
  &__subchapter {
    font-size: 13px;
    margin-top: 0.05rem;
    background: none;
    text-decoration: none;
  }

  &__chapter {
    margin: 1rem 0 0 0;
  }
  &__chapter:before {
    float: left;
    margin-right: 3px;
    content: "→ ";
    text-decoration: none;
  }

  &__subchapter {
    margin: 0 0 0 0.9rem;
    opacity: 0.55;
  }

  &__header {
    font-size: 22px;
    margin-left: 12px;
  }
  @media (max-width: 700px) and (min-width: 0) {
    &_aligned-right-top {
      display: none;
    }
    &_hide-right {
      margin-left: 30px;
    }
  }
}
