.ArticleLayout {
  display: flex;
  &__illustration,
  &__article {
    max-width: 50%;
    width: 50%;
    flex: 1 1 auto;
  }

  &__illustration {
    position: fixed;
    right: 0;
  }
}

//&__header {
//  color: var(--light-grey-blue);
//  font-size: 2.25rem;
//  font-weight: bold;
//}
